* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0, .3);
    z-index: 1;
    background: white;
}

input {
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
}

.gallery {
    width: 90%;
    transform: translateX(-50);
    display: grid;
    grid-template-columns: repeat(5, 200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.gallery div {
    position: relative
}

img {
    margin-left: 5px;
    height: 300px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

p, details {
    /* position: absolute; */
    margin-left: 10px;
    bottom: 5px;
    /* color: white; */
}

h1 {
    position: absolute
}

h4 {
    position: absolute;
    margin-left: 10px;
    color: white;
    background-color: black;
}

a{
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}